* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bg {
    background-image: url(https://jujutsukaisen.jp/images/bg_sub.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.logo {
    margin: auto;
    width: 280px;
}

.container {
    gap: 10px;
    width: 90vw;
    margin: 50px auto;
    border: 1px solid black;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
}


.box {
    display: flex;
    padding: 25px;
    flex-direction: column;
    border: 9px solid rgb(61, 27, 100);
    text-align: center;
    border-radius: 20px;
    filter: drop-shadow(9px 10px 4px)
}


img {

    width: 140px;
    display: block;
    align-self: center;
}

.bgicon {
    background-image: url(https://jujutsukaisen.jp/images/chara_bg.jpg);
    width: 200px;
}

.deets {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name {
    font-size: 2rem;
    width: 700;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgba(255, 251, 246, 0.577);
    border-radius: 20px;
}


.jt {
    font-style: italic;
    font-size: 1rem;
    background-color: rgba(255, 251, 246, 0.577);
    border-radius: 20px;
}


.tbold {
    font-weight: bold;
    font-style: italic;
}


.desc {
    font-size: 1rem;
    text-align: justify;
    line-height: 1.5;
    background-color: rgba(255, 251, 246, 0.577);
    border-radius: 20px;
    padding: 15px;
}


#Gojo {
    background-color: #CAB2E4;
    grid-column: 1/3;
}

#Yuji {
    background-color: #F7C7C6;
}

#Toge {
    background-color: #4A83AA;
}

#Nobara {
    background-color: #CE5D4C;
    grid-column: 2/4;
}

#Megumi {
    background-color: #E1E7F6;
    grid-column: 4/5;
    grid-row: 1/3;
}

.box:hover {
    background-image: url(https://64.media.tumblr.com/f0f0e58f32f50b1c5864a1f9d9951d18/e7e6a405246874ff-3e/s540x810/32dfeaabcc577a66ebc93eb0d258ead779c51fb0.gifv);
    background-position: center;
    background-size: cover;
}

@media (max-width:920px) {
    .container {
        grid-template-columns: 1fr;
    }

    #Gojo {
        grid-column: 1/2;
    }

    #Nobara {
        grid-column: 1/2;
    }

    #Megumi {
        grid-column: 1/2;
        grid-row: 5/6;
    }


    #Gojo:hover {
        background-image: url(https://64.media.tumblr.com/ae90bf6de663382eb527835283399072/cf1fb3f8c4402bb3-c6/s540x810/99b578991a3e6e1e36564c552ad7ddf7fd25c4fe.gif);
    }

    #Yuji:hover {
        background-image: url(https://pa1.aminoapps.com/7760/38ea72a7bcbcdf8a0d3a0e68e84aa9c6ec878322r1-498-280_00.gif);
    }

    #Toge:hover {
        background-image: url(https://i.pinimg.com/originals/72/87/be/7287be5d0acb956ea99553f46f5efbbc.gif);
    }

    #Nobara:hover {
        background-image: url(https://pa1.aminoapps.com/7890/8a5eead8ce25f59dee0cb96175a91a1c94633d1fr1-540-304_hq.gif);
    }

    #Megumi:hover {
        background-image: url(https://64.media.tumblr.com/ae9ae76fb929d6a972c73d67045d4ee1/4584c74073239cb5-5e/s640x960/e087c87a06a870d48195e29649c047cf6bf36257.gif);
    }

}
